.p-datatable-header {
    border-width: 1px 1px 1px 1px;
    border-radius: 7px 7px 0 0;
}

.p-datatable-wrapper {
    border: 1px solid #c6c6c6 !important;
    border-bottom: unset !important;
}

.p-datatable-thead {
    border-width: 1px 1px 1px 1px;
    border-radius: 7px 7px 0 0;
    color: black !important;
}

.text-green {
    color: #4caf50 !important;
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody>tr>td {
    border-width: 0 1px 1px 0;
    border-color: #c6c6c6;
}

.p-datatable .p-datatable-tbody>tr>td {
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #fff;
}

.p-splitbutton-defaultbutton {
    display: none !important;
}

.p-splitbutton-menubutton {
    padding: 0 !important;
    border: 0 !important;
    background-color: white !important;
    // color: #666666;
}

.p-datatable.p-datatable-gridlines .p-paginator-bottom {
    display: fixed;
    background: #f5f5f5 !important;
    border: 1px solid #c6c6c6 !important;
    border-width: 1px 0 !important;
    padding: 0 8px !important;
    //

}

.bx-table {
    color: #666666;
}

.fixed-table-container {
    font-size: 14px !important;
}